<div class="hidden-xs-down">
   <span class="title">
        lista de comics marvel 
    </span>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let comic of allComics | async">
        <div class="card">
            <div class="card-body">

                <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" class="card-img-top"
                    alt="{{comic.tilte}}">
                <h5 class="card-title">{{comic?.title}}</h5>
                <p class="card-text">{{comic?.description}}</p>

            </div>
        </div>
    </div>
</div>
</div>