
  .logo{
    margin-top: 0px;
    max-width: 100px;
    display:block;

    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .card{
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.24);
    transition: all 0.2 ease-in-out;
    box-sizing: border-box;
    margin: 10px 0 ;
    background-color: #fff; 
    max-width: 529px;
    &:hover{
        box-shadow: 0 5px 5px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.24);
        cursor: pointer;
    }
  }

  @media (max-width: 1125px) {
    .cards {
      margin: 0 20px 30px;
    }
  }
  p {
    margin-top: -3px;
    color: #000000;
    padding: 10px;
  }
 h5 {
    margin-top: -3px;
    color: #000000;
    padding: 10px;
  }

  img{
    opacity: 0.8;
    width: 100%; 
    transition: opacity 0.7;
    &:hover{
        opacity:1} 
 }
      .card-inner{
      padding: 10px;
  }
  
  
  body { 
    background-color: #ed1d24a1;
    background-image: linear-gradient(180deg, #ed1d24a1 0%, #212121 100%);
  text-align: center; 
  margin: 0 }

.title {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgb(255, 255, 255);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
  color:#FFFFFF;
  
  span {

  	font: 700 4em/1 "Oswald", impact;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 0 px rgb(255, 255, 255);
    


}
}
.container{
  margin-top: 200px; 
 }


    
